<div class="col-md-6 thing-container">
  <h2 class="text-center">{{getTitle()}}</h2>
  <h3 class="text-center">{{type ? type.name : '?'}}</h3>
  <ngContainer *ngFor="let attrdefn of attrdefns; trackBy: trackAttrDefn; let i=index">
    <div class="attrdefn-label" [style]="i > 0 ? 'margin-top: 10px; ' : ''">
      {{attrdefn.name}}
    </div>
    <div class="attrdefn-value" *ngIf="attrdefn.handler == 'string'">
      {{attrdefn.value}}
    </div>
    <div class="attrdefn-value" *ngIf="attrdefn.handler == 'long-string'">
      <ngx-md>{{attrdefn.value}}</ngx-md>
    </div>
    <div class="attrdefn-value" *ngIf="attrdefn.handler == 'url'">
      <a [href]="attrdefn.value" target="_blank">{{attrdefn.value}}</a>
    </div>
    <div class="attrdefn-value" *ngIf="attrdefn.handler == 'float'">
      {{attrdefn.value}}
    </div>
    <div class="attrdefn-value" *ngIf="attrdefn.handler == 'integer'">
      {{attrdefn.value}}
    </div>
    <div class="attrdefn-value" *ngIf="attrdefn.handler == 'boolean'">
      {{attrdefn.value ? 'true' : 'false'}}
    </div>
    <div class="file" *ngIf="attrdefn.handler == 'file'">
      <div class="attrdefn-value" *ngIf="attrdefn.value.filename != null">
        {{attrdefn.value.filename}}
      </div>
      <div [ngClass]="{'attrdefn-value': true, 'rich-text-small': !attrdefn.expanded, 'rich-text-large': attrdefn.expanded}"
        *ngIf="attrdefn.value.richText != null && attrdefn.value.richText != ''"
        [innerHTML]="attrdefn.value.richText">
      </div>
      <div class="attrdefn-value" *ngIf="attrdefn.image != null">
        <img [src]="attrdefn.image">
      </div>
      <button *ngIf="attrdefn.value != null && attrdefn.value != ''"
          type="button" class="btn simple-btn" (click)="downloadFile(attrdefn)">
        Download
      </button>
      <button *ngIf="attrdefn.value.richText != null && attrdefn.value.richText != ''"
        type="button" class="btn simple-btn"
        (click)="expandFile(attrdefn)">{{attrdefn.expanded ? 'Contract' : 'Expand'}}</button>
    </div>
    <div class="attrdefn-value link" *ngIf="attrdefn.handler == 'link'">
      <div *ngIf="attrdefn.value.length == 0" style="color: #666;">
        none
      </div>
      <table *ngIf="attrdefn.value.length > 0">
        <tr>
          <th *ngFor="let attrdefn of attrdefn.targetType.visibleAttrdefns" (click)="sort(attrdefn)">
            {{ attrdefn.name | capitalize }}
          </th>
        </tr>
        <tr *ngFor="let thing of attrdefn.value">
          <td *ngFor="let attrdefn of attrdefn.targetType.visibleAttrdefns">
            <ngContainer *ngIf="attrdefn.editInList">
              <input type="text" *ngIf="attrdefn.handler == 'string'" [value]="thing.attributes[attrdefn.name].value"
                class="string" (change)="change(thing, attrdefn, $event.target.value)">
              <input type="text" *ngIf="attrdefn.handler == 'url'" [value]="thing.attributes[attrdefn.name].value"
                class="url" (change)="change(thing, attrdefn, $event.target.value)">
              <input type="text" *ngIf="attrdefn.handler == 'float'" [value]="thing.attributes[attrdefn.name].value"
                (change)="change(thing, attrdefn, $event.target.value)">
              <input type="text" *ngIf="attrdefn.handler == 'integer'" [value]="thing.attributes[attrdefn.name].value"
                (change)="change(thing, attrdefn, $event.target.value)">
              <input type="checkbox" *ngIf="attrdefn.handler == 'boolean'" value="true"
                [checked]="thing.attributes[attrdefn.name].value ? 'checked' : ''"
                (change)="change(thing, attrdefn, $event.target.checked)">
            </ngContainer>
            <ngContainer *ngIf="attrdefn.showInList && !attrdefn.editInList">
              <div *ngIf="attrdefn.handler == 'string' || attrdefn.handler == 'url' || attrdefn.handler == 'float' || attrdefn.handler == 'integer'">
                {{ thing.attributes[attrdefn.name] ? thing.attributes[attrdefn.name].value : '?' }}
              </div>
              <div *ngIf="attrdefn.handler == 'boolean'">{{thing.attributes[attrdefn.name].value ? 'true' : 'false'}}</div>
            </ngContainer>
          </td>
          <td style="width: 1.6in;">
            <button class="btn btn-success" (click)="view(thing, attrdefn)" style="margin-left: 0px;"> View</button>
            <button class="btn btn-success" (click)="unlink(thing, attrdefn)" style="margin-left: 5px;"> Unlink</button>
          </td>
        </tr>
      </table>
      <button class="btn btn-success" *ngIf="attrdefn.multiple || attrdefn.value.length == 0" (click)="addLinkTarget(attrdefn)">Add</button>
    </div>
    <div class="attrdefn-value" *ngIf="attrdefn.handler == 'rich-text'" [innerHTML]="attrdefn.value" class="rich-text">
    </div>
  </ngContainer>
  <ngContainer *ngFor="let tagAttrDefn of tagAttrDefns">
    <div class="attrdefn-label" style="margin-top: 10px; ">
      {{tagAttrDefn.typeName | pluralize}}:
    </div>
    <div class="attrdefn-value">
      <button type="button" class="btn simple-btn" *ngFor="let targetedThing of tagAttrDefn.targetedThings"
          (click)="removeLink(tagAttrDefn, targetedThing)">
        {{(targetedThing || {name: '?'}).name}}
      </button>
      <input type="text" [id]="'link-' + tagAttrDefn.name" [placeholder]="tagAttrDefn.typeName"
        (keyup)="tagAttrDefn.filterThings($event.target.value)" [value]="tagAttrDefn.filterString">
      <button type="button" class="btn btn-success"
          *ngIf="(tagAttrDefn.visibleUntargetedThings || []).length == 0"
          (click)="newLink(tagAttrDefn)">
        Add
      </button>
    </div>
    <div *ngIf="tagAttrDefn.showAvailableTags">
      <div class="attrdefn-label" style="margin-top: 10px; ">
        available {{tagAttrDefn.typeName | pluralize}}:
      </div>
      <div class="attrdefn-value thing-list">
        <div *ngIf="(tagAttrDefn.visibleUntargetedThings || []).length == 0" style="color: #666;">
          none
        </div>
        <button type="button" class="btn btn-success" *ngFor="let untargetedThing of tagAttrDefn.visibleUntargetedThings"
          (click)="addLink(tagAttrDefn, untargetedThing)">
          {{untargetedThing.name}}
        </button>
      </div>
    </div>
  </ngContainer>
  <div class="buttons">
    <button *ngFor="let breadcrumb of getBreadcrumbs()" class="btn btn-success" type="button"
      (click)="gotoBreadcrumb(breadcrumb)">{{breadcrumb.getButtonName()}}</button>
    <button class="btn btn-success" type="button" (click)="gotoThings()">
      {{(type ? type.name : '?') | pluralize | capitalize}}</button>
    <button class="btn btn-success" type="button" (click)="gotoEditor()">Edit</button>
    <button class="btn btn-success" type="button" (click)="delete()">Delete</button>\
    <button *ngFor="let linktomeAttrDefn of linktomeAttrDefns" class="btn btn-success" type="button"
      (click)="gotoLinkType(linktomeAttrDefn)">{{linktomeAttrDefn.buttonName}}</button>
  </div>
</div>