.search-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
div.form-group label {
	font-size: smaller;
}
div.type-select {
	width: 2in;
	float: left;
	padding-right: 20px;
}
div.attribute {
	width: 3in;
	float: left;
	padding-right: 20px;
}
div.add-button {
	width: 1in;
	margin-left: 5in;
}
div.query {
}
div.sorts {
	width: 2in;
	float: left;
	padding-right: 20px;
}
div.page-size {
	width: 2in;
	float: left;
	padding-right: 20px;
}
div.page {
	width: 2in;
	margin-left: 4in;
}
div.page input {
	display: inline;
	width: 0.8in;
	margin-left: 6px;
	margin-right: 6px;
}
button.btn-simple {
	border: 1px solid #ccc;
}
table {
	width: 100%;
}
table tr td.buttons button:nth-child(n+2) {
	margin-left: 6px;
}
table tr td.buttons {
	white-space: nowrap;
	text-align: right;
}
table tr td.buttons input[type=checkbox] {
	margin-left: 20px;
}
table tr th {
	vertical-align: middle;
}
table tr th:nth-child(n+2) {
	padding-left: 10px;
}
table tr td {
	vertical-align: middle;
}
table tr td:nth-child(n+2) {
	padding-left: 10px;
}
div.searching {
	color: #666;
}