.search-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
div.form-group label {
	font-size: smaller;
}
div.type {
	width: 2in;
	float: left;
	padding-right: 20px;
}
div.attribute {
	width: 3in;
	margin-left: 2in;
}
button.simple-btn {
	border: 1px solid #ccc;
}
table tr td.buttons button:nth-child(n+2) {
	margin-left: 6px;
}
table tr td.buttons {
	white-space: nowrap;
	text-align: right;
}
table tr th {
	vertical-align: middle;
}
table tr th:nth-child(n+2) {
	padding-left: 10px;
}
table tr td {
	vertical-align: middle;
}
table tr td:nth-child(n+2) {
	padding-left: 10px;
}
div.searching {
	color: #666;
}