.search-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
div.form-group label {
	font-size: smaller;
}
div.attribute label {
	margin-right: 10px;
}
div.attribute select {
	margin-right: 20px;
}
button.simple-btn {
	border: 1px solid #ccc;
}
table tr td.buttons button:nth-child(n+2) {
	margin-left: 6px;
}
table tr td.buttons {
	white-space: nowrap;
	text-align: right;
}
table tr th {
	vertical-align: middle;
}
table tr td {
	vertical-align: middle;
}
